* {
    margin: 0%;
    padding: 0%;
    background-color: black;
    font-family: Bricolage Grotesque;
    color: white;
}

.hedding {
    position: relative;
    top: 300px;
    left: 558px;
    width: 282px;
    height: 103px;
    border: 2px dashed #F0773A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Service {
    text-align: center;
    width: 174.1px;
    height: 52.13px;
    margin: 22px 50px;
}

.Service p {
    font-weight: 700;
    font-size: 45px;
    line-height: 52px;
    display: inline;
    background: linear-gradient(91.09deg, #FB8D48 2.51%, #ED7136 17.52%, #C54E47 32.53%, #C14F49 32.54%, #9D3863 47.55%, #5E1F72 62.56%);
    color: transparent;
    -webkit-background-clip: text;
    align-items: center;

}

.anymation {
    position: relative;
    top: 165px;
}

.branding-con {
    position: relative;
    display: flex;
    width: 1, 440px;
    height: 560.53px;
    top: 436px;
    padding: 0px 100px 0px 100px;
    justify-content: space-between;
    border: 2px solid white;
}

.Branding-img {
    display: flex;
    width: 579px;
    height: 560px;
    float: left;
    border: 2px solid white;
}

.Branding-title {
    position: relative;
    display: inline-block;
    width: 473px;
    height: 207px;
    gap: 128px;
    top: 192px;
    border: 2px solid whitesmoke;
}

.title {
    position: relative;
    color: white;
    font-weight: 700;
    font-size: 45px;
    line-height: 52px;
}
.Dev-points {
    display: block;
    position: relative;
    width: 454.48px;
    height: 112px;
    gap: 50px;
    top: 40px;
}
.Dev-point1 {
    width: 148px;
    height:112px;
    gap: 20px;    
}

.service-list {
    list-style: none;
    padding: 0;
}

.service-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.service-item:last-child {
    margin-bottom: 0;
}

.service-icon {
    width: 15px;
    height: 15px;
    background: linear-gradient(91.11deg, #FB8D48 2.53%, #ED7136 21.88%, #C54E47 41.22%, #C14F49 41.23%, #9D3863 60.58%, #5E1F72 79.93%);
    border-radius: 50%;
    margin-right: 10px;
}

.Dev-point2 {
    position: relative;
    width: 130px;
    height: 112px;
    gap: 20px;   
    left: 198px;
    top: -110px;
}